{{!this is the template for Js1Widget.}}
{{!it expects an array of strings and assembles them into buttons.}}

<div class="Js1Widget">
  <div class="Js1Widget-header">
    <p>
      {{ titleText }}
    </p>
    <p>
      <span class="Js1Widget-selected-slot-text">{{ selectedSlotText }}</span>
      <span class="Js1Widget-selected-slot"></span>
    </p>
  </div>
  <div class="Js1Widget-content"></div>
</div>