{{!this is the template for Js2Widget.}}
{{!it expects an array of strings and assembles them into buttons.}}

<div class="Js2Widget">
  <div class="Js2Widget-header">
    <p>
      {{ titleText }}
    </p>
    <p>
      <span class="Js2Widget-selected-slot-text">{{ selectedSlotText }}</span>
      <span class="Js2Widget-selected-slot"></span>
    </p>
  </div>
  <div class="Js2Widget-content"></div>
</div>